body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #2e3b4e; /* Dark background color */
    color: #ffffff; /* Text color */
  }
  .sidebar {
    width: 250px;
    background: #1f2a38;
    color: white;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  .sidebar h2 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  .sidebar .section-link {
    color: #ccc;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  .sidebar .section-link:hover,
  .sidebar .section-link.active {
    background: #495057;
    color: white;
  }
  .content {
    width: 30%;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #3a4756; /* Content background color */
  }
  .section {
    width: 100%; /* Ensure sections take full width */
    display: none;
  }
  .section.active {
    display: block;
  }
  .form-container {
    width: 70%; /* Ensure form container takes full width */
    /* margin: 0 auto; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-control {
    background-color: #2e3b4e; /* Input background color */
    color: #ffffff; /* Input text color */
    border: 1px solid #495057;
    border-radius: 4px;
  }
  .form-control:focus {
    background-color: #2e3b4e;
    color: #ffffff;
    border-color: #6c757d;
    box-shadow: none;
  }
  .btn-block {
    margin-top: 20px;
    background-color: #4caf50; /* Submit button background color */
    color: #ffffff; /* Submit button text color */
    border: none;
  }
  .btn-block:hover {
    background-color: #45a049;
  }
  .pdf-preview {
    /* display: inline-block; */
    position: relative;
    /* text-align: center; */
    width: 45vw;
    margin: 1.5rem;
    background: #ffffff; /* PDF preview background color */
    color: #ffffff; /* PDF preview text color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 15px;
    border-radius: 8px;
    overflow: scroll;
  }
  .pdf-preview h3 {
    margin-top: 0;
  }
  #json-preview{
    color: tomato;
  }
  #pdf{
    float: right;
  }
  @media (max-width: 767px) {
    body {
      flex-direction: column;
    }
    .sidebar {
      width: 100%;
      height: auto;
      box-shadow: none;
    }
    .pdf-preview {
      width: 100%;
      position: static;
      height: 200px;
      margin-top: 20px;
    }
  }